body {
    font-size: 13px;
}
#list {
}
#list > li {
}
#list > li > ul {
    display: none;
}
.subcat{
    margin-left: 15px;
}
.cat{
    font-weight: bold;
}
.active{
    display: block;
    background-color: #eee;
}
.scroll{
    height: 500px; /* Высота блока */
    width: 100%;
    overflow: scroll; /* Добавляем полосы прокрутки */
    padding: 7px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}

.check-list{
    background-color: #EEEEEE;
    min-height: 200px;
    border-radius: 15px;
}

#amount{
    font-weight: bold;
    font-size: 18px;
}

.grn{
    margin-left: 10px;
    font-weight: 100;
    font-size: 15px;
}

.active-money, .revenue {
    font-size: 24px;
}

#ajaxResponseAgent, #ajaxResponseVendor {
    display: none;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #2ab27b;
}

.input-error {
    display: none;
    padding: 10px;
    color: #FFF;
    margin: 10px;
    border-radius: 5px;
    background-color: #a94442;
}